
.background {
    background-image: url("img/background3.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: -25px;
}

.intro {
  text-align: center;
  color: white;
  font-family: 'Bree Serif', serif;
}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 800px;
}


.left-content {
  width: 19%%;
  display: inline-block;
}

#profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 55px;
  margin-right: 20px;
}

.blurb {
  margin-top: 2%;
  margin-bottom: 7%;
}

.middle-content {
  width: 50%;
  display: inline-block;
  margin-right: 50px;
}

.thanks{
  margin-bottom: 50px;
}

.bio-content {
  font-family: 'Bree Serif', serif;
}

.right-content {
  width: 18%;
  display: inline-block;
}


.skills{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin-left: 40px;
  margin-bottom: -20px;
}

.skills-list {
  margin-left: 50px;
}

.projects {
  background-color: Linen;
}

#my-work {
  padding-top: 8%;
}


#connect-four-img {
  width: 75%;
}

#chefs-corner-img {
  width: 75%;
}

#claim-throne-img {
  width: 75%;
}

#perfect-excuse-img {
  width: 75%;
}
