/*-----------------------------*/
/*LANDING PAGE*/
/*-----------------------------*/

/*BACKGROUND IMAGE FOR LANDING PAGE*/
.background {
    background-image: url("img/background3.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*HEADER*/
.intro {
  text-align: center;
  color: white;
  font-family: 'Bree Serif', serif;
}


/*-----------------------------*/
/*BIO SECTION*/
/*-----------------------------*/

.blurb {
  margin-top: 10vh;
  margin-bottom: 5vh;
  display: flex;
}

/*PROFILE PICTURE*/
.left-content {
  width: 30vw;
}

#profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 55px;
  margin-right: 20px;
  display: block;
}

/*CONTENT FOR BIO*/
.middle-content {
  width: 50vw;
  margin-right: 50px;
}

/*Header for bio*/
.thanks{
  margin-bottom: 45px;
  /*font-family: 'Abel', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
/*Content for bio*/
.bio-content {
  font-family: 'Abel', sans-serif;
  font-size: 21px;
  color: grey;
}

/*SKILLS SECTION*/
.right-content {
  width: 20vw;
}
/*Header for skills*/
.skills{
  /*font-weight: bold;*/
  /*font-family: 'Abel', sans-serif;*/
  font-size: 25px;
  margin-left: 40px;
  margin-bottom: -20px;
  color: grey;
  text-decoration: underline;
}
/*List of skills*/
.skills-list {
  margin-left: 50px;
  margin-bottom: 10%;
  /*font-family: 'Abel', sans-serif;*/
  font-size: 18px;
  /*font-weight: bold;*/
}

.icons {
  padding-top: 2vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

/*-----------------------------*/
/*PROJECT SECTION*/
/*-----------------------------*/
.projects {
  /*background-color: #e5e5e5;*/
}

.project-headers {
  font-weight: bold;
}


#my-work {
  padding-top: 8%;
  padding-bottom: 3%;
  font-family: 'Abel', sans-serif;
  font-size: 45px;
}


#connect-four-img {
  width: 75%;
}
.connect-four{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#chefs-corner-img {
  width: 75%;
}

.chefs-corner {
  padding-top: 4vh;
  padding-bottom: 2vh;
}

#claim-throne-img {
  width: 75%;
}

.claim-your-throne {
  padding-top: 4vh;
  padding-bottom: 2vh;
}

#perfect-excuse-img {
  width: 75%;
}

.perfect-excuse {
  padding-top: 4vh;
  padding-bottom: 2vh;
}


#jot-img {
  width: 75%;
}

.jot {
  padding-top: 4vh;
  padding-bottom: 2vh;
}


/*-----------------------------*/
/*MISC STUFF*/
/*-----------------------------*/

.parallax-container {
  height: 100vh;
}


/*Links*/
a {
  color: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
