/*-----------------------------*/
/*LANDING PAGE*/
/*-----------------------------*/

/*BACKGROUND IMAGE FOR LANDING PAGE*/
.background {
    background-image: url("img/background3.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*HEADER*/
.intro {
  text-align: center;
  color: white;
  font-family: 'Bree Serif', serif;
}


/*-----------------------------*/
/*BIO SECTION*/
/*-----------------------------*/

.blurb {
  margin-top: 5vh;
  margin-bottom: 1vh;
  display: flex;
}

/*PROFILE PICTURE*/
.left-content {
  width: 30vw;
}

#profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 55px;
  margin-right: 20px;
  display: block;
}

/*CONTENT FOR BIO*/
.middle-content {
  width: 50vw;
  margin-right: 50px;
}

/*Header for bio*/
.thanks{
  margin-bottom: 50px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}
/*Content for bio*/
.bio-content {
  font-family: 'Abel', sans-serif;
  font-size: 21px;
}

/*SKILLS SECTION*/
.right-content {
  width: 20vw;
}
/*Header for skills*/
.skills{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin-left: 40px;
  margin-bottom: -20px;
}
/*List of skills*/
.skills-list {
  margin-left: 50px;
  margin-bottom: 10%;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.icons {
  padding-top: 2vh;
}

/*-----------------------------*/
/*PROJECT SECTION*/
/*-----------------------------*/
.projects {
  background-color: #e5e5e5;
}

.project-headers {
  font-weight: bold;
}

#my-work {
  padding-top: 8%;
  padding-bottom: 3%;
  font-family: 'Abel', sans-serif;
  font-size: 45px;
}


#connect-four-img {
  width: 75%;
}

#chefs-corner-img {
  width: 75%;
}

.chefs-corner {
  padding-top: 5vh;
}

#claim-throne-img {
  width: 75%;
}

.claim-your-throne {
  padding-top: 5vh;
}

#perfect-excuse-img {
  width: 75%;
}

.perfect-excuse {
  padding-top: 5vh;
}


#jot-img {
  width: 75%;
}

.jot {
  padding-top: 5vh;
}


/*-----------------------------*/
/*MISC STUFF*/
/*-----------------------------*/

/*Links*/
a {
  color: inherit;
}


/*FOOTER*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  display: flex;
}
